* {

    padding : 0px;
    margin : 0px;

}

// Promenljive

$f : flex;
$c : center;
$sa : space-around;
$co : column;
$sb : space-between;
$fw : wrap;

$d0: 1280px;
$d1 : 1200px;
$d2: 992px;
$d3: 768px;
$d4: 576px;
$d5: 480px;
$d6: 386px;

// Mixini za resposnive

@mixin d0 {
    @media (min-width: #{$d0}){
        @content;
    }
}

@mixin d1 {
    @media (max-width: #{$d1}){
        @content;
    }
}

@mixin d1 {
    @media (max-width: #{$d1}){
        @content;
    }
}


@mixin d2 {
    @media (max-width: #{$d2}){
        @content;
    }
}

@mixin d3 {
    @media (max-width: #{$d3}){
        @content;
    }
}

@mixin d4 {
    @media (max-width: #{$d4}){
        @content;
    }
}

@mixin d5 {
    @media (max-width: #{$d5}){
        @content;
    }
}

@mixin d6 {
    @media (max-width: #{$d6}){
        @content;
    }
}

// Mixini

@mixin logoFont {
    
    font-family: 'Dancing Script', cursive;

}

@mixin regularFont {

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


// SWUP tranzicije


.transition-fade {

    opacity : 1;
    transition: .9s;
    transform: translateY(0);
    transform-origin: bottom;

}


html.is-animating .transition-fade {

    opacity : 1;
    transform: translateY(-100%);

}

html.is-leaving .transition-fade {

    opacity : 0;
    transform: translateY(0);

}


html {

    scroll-behavior: smooth;
    width : 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;


    body {

        width : 100%;
        max-width: 100%;
        @include regularFont();
        overflow-x: hidden;

        // Back to top

        #backToTop {

            position: fixed;
            z-index: 999;
            bottom: 4%;
            right: 1.5%;
            transition: .5s;
            transform: translateY(300px);

            @include d4 {

                display: none;

            }

            &:hover {

                transform: translateY(-7px);

            }
            
            i {

                font-size: 1.9em;
                color : #f6b4bc;

            }

        }

        .backToTopShow {

            transform: translateY(0px) !important;

        }

        // Glavna navigacija

        .mainNavigation {

            width : 100%;
            display: $f;
            justify-content: $sa;
            align-items: $c;
            padding : 3% 0%;
            position: fixed;
            top : 0px;
            z-index: 999;
            transition: .4s;

            @include d2 {

                display: none;

            }

            .leftSideNav {

                width : 30%;
                transition: .4s;
                transform: translateX(-100%);
                
                .logoText {

                    @include logoFont();
                    text-decoration: none;
                    color : #f18693;
                    font-size: 2.8em;
                    letter-spacing: 3px;
                    font-weight: bold;

                }

            }

            .rightSideNav {

                width : 50%;

                @include d1 {

                    width : 60%;

                }
                
                ul {

                    list-style-type: none;
                    display: $f;
                    justify-content: $sb;
                    align-items: $c;

                    li {

                        .mainNavLink {

                            text-decoration: none;
                            font-size: 1.3em;
                            color : whitesmoke;
                            transition: .5s;
                            position: relative;
                            font-weight: bold;

                            &:hover > i {

                                color : darken(#f6b4bc, 10%) !important;
                                transition: .5s;

                            }

                        }

                        // .activeLink {

                        //     color : darken(#f6b4bc, 10%) !important;
                        
                        // }

                    }

                    .subMenuMainLink {

                        position: relative;

                        ul {

                            width : 100%;
                            position: absolute;
                            background-color: whitesmoke;
                            display: $f;
                            flex-direction: $co;
                            justify-content: $c;
                            align-items: $c;
                            display: none;
                            text-align: $c;
                            padding : 3%;

                            li {

                                margin : 20px 0px;

                                a {

                                    color : #141414;
                                    text-decoration: none;
                                    transition: .5s;
                                    font-weight: bold;
                                    font-size: 1.2em;

                                    &:hover {

                                        color : darken(#f6b4bc, 8%) !important;

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

        // Side navigacija

        .sideNavTrigger {

            position: fixed;
            display: block;
            z-index: 1000;
            width : 50px;
            height : 15px;
            top : 5%;
            left : 2%;
            display: none;

            @include d2 {

                display: block;

            }

            &:hover::before{

                background-color: darken(#f6b4bc, 15%);

            }

            &:hover::after{

                background-color: darken(#f6b4bc, 5%);

            }

            &::before{

                position: absolute;
                content : '';
                width : 30px;
                height : 4px;
                top : 0%;
                left : 10px;
                background-color: darken(#f6b4bc, 10%);
                transition: .6s;

            }

            &::after{

                position: absolute;
                content : '';
                width : 30px;
                height : 4px;
                left : 10px;
                top : 100%;
                background-color: darken(#f6b4bc, 20%);
                transition: .6s;

            }

        }

        .sideNavTriggerToggle {

            &::before {

                transform: rotate(45deg);

            }

            &::after {

                transform: rotate(-45deg);
                top : 5% !important;

            }

        }

        .sideNavigationFirstBlock {

            z-index: 999;
            position: fixed;
            top : 0;
            bottom : 0;
            right : 0;
            width : 80%;
            background-color: white;
            display: $f;
            justify-content: $c;
            align-items: $c;
            transition: .5s;
            transform: translateY(-100%);

            @include d4 {

                width : 70%;

            }
            

            ul {

                list-style-type: none;
                text-align: center;

                li {

                    margin : 15px 0px;

                    a {

                        text-decoration: none;
                        font-weight: bold;
                        font-size: 1.5em;
                        letter-spacing: 1.3px;
                        transition: all 0.4s;
                        color: #f6b4bc;

                        &:hover {

                            color :darken(#f6b4bc, 10%) !important;
                
                        }

                    }

                    .activeLink {

                        color : darken(#f6b4bc, 10%) !important;
                    
                    }

                }

                .subMenuSideLink {

                    position: relative;

                    .mainSubMenu {

                        position: absolute;
                        background-color: whitesmoke;
                        padding : 2%;
                        margin : 0px auto;
                        width : 100%;
                        display: none;

                        li {

                            margin : 20px 0px;

                        }

                    }

                }

            }

        }

        .sideNavigationFirstBlockToggle {

            transform: translateY(0px);

        }

        .sideNavigationSecondBlock {

            z-index: 999;
            position: fixed;
            top : 0;
            bottom : 0;
            left : 0;
            width : 20%;
            background-color: whitesmoke;
            transition: .5s;
            transform: translateX(-100%);

            @include d4 {

                width : 30%;

            }

        }

        .sideNavigationSecondBlockToggle {

            transform: translateX(0px);

        }


        // Main

        main {

            width : 100%;
            height : 100vh;
            background-image: url('../images/rejuvenaCover.jpg');
            background-position: 70%;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;


            .mainHomeFader {

                width : 100%;
                height : 100%;
                background-color: rgba(0, 0, 0, .7);
                display: $f;
                justify-content: $c;
                align-items: $c;
                flex-direction: $co;
                text-align: $c;

                h1 {

                    @include logoFont();
                    font-size: 6.5em;
                    background: linear-gradient(#ee9ca7, #ffdde1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color : darken(#ba4cc9, 5%);
                    letter-spacing: 3px;
                    position: relative;
                    padding-bottom: 5%;

                    @include d3 {

                        font-size: 5.5em;

                    }

                    @include d5 {

                        font-size: 4.7em;

                    }

                    span {

                        background: linear-gradient(#ee9ca7, #ffdde1);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        position: absolute;
                        font-size: .5em;
                        width: 100%;
                        right : -20%;
                        bottom : 10%;

                        @include d0 {

                            bottom: 17%;

                        }

                        @include d2 {

                            bottom : 3%;

                        }

                        @include d3 {

                            bottom : 0%;

                        }

                        @include d4 {

                            bottom : -5%;

                        }

                        @include d5 {

                            bottom : -8%;

                        }

                    }
                    
                }

                p {

                    color : whitesmoke;
                    font-size: 1.5em;
                    letter-spacing: 2px;
                    padding : 2% 0%;

                    @include d0 {

                        padding-top: 0;

                    }

                    @include d3 {

                        padding : 5% 0%;

                    }

                    @include d6 {

                        padding : 8% 0%;

                    }

                }

            }

        }

        // Treatment sekcija Home

        .treatmentSectionHome {

            width : 80%;
            margin : 5% auto;
            text-align: $c;

            @include d4 {

                margin : 8% auto 15% auto;
                width : 90%;

            }
            
            p {

                padding : 5% 5% 7% 5%;
                font-size: 1.3em;
                line-height: 30px;

                @include d4 {

                    padding : 10% 0%;

                }

                @include d5 {

                    padding-bottom : 15%;

                }

            }

        }

        // Sekcija in between blok

        .betweenBlock {

            width : 100%;
            height : 160px;
            background-image : url('../images/betweenBlock.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: $c;
            margin-top : 8%;
            display: $f;
            justify-content: $c;
            align-items: $c;

            a {

                text-decoration: none;
                color : whitesmoke;
                font-weight: bold;
                font-size: 1.4em;
                letter-spacing: 1px;
                background-color: darken(#f6b4bc, 6%);
                padding : 1% 5%;
                transition: .4s;

                @include d3 {

                    padding : 2% 7%;

                }

                @include d5 {

                    padding : 4% 7%;

                }

                @include d6 {

                    padding : 4% 3%;

                }

                &:hover {

                    background-color: darken(#f0e3de, 15%);

                }

            }

        }

        // beforeAndAfter sekcija

        .beforeAndAfterRejuvenaMain {

            padding-top: 5%;

            .beforeAndAfterBoxes {

                display: $f;
                justify-content: $sa;
                align-items: $c;
                margin-top: 5%;

                @include d4 {

                    flex-direction: $co;
                    margin-top: 8%;

                }

                .beforeAndAfterBox {

                    width : 40%;

                    @include d4 {

                        margin : 2% 0%;
                        width : 60%;

                    }

                    @include d5 {

                        width : 70%;

                    }

                    img {

                        width : 100%;

                    }

                }

            }

        }


        // Kontakt

        .contactSection {

            width : 80%;
            margin : 7% auto;
            display: $f;
            flex-direction: $co;
            justify-content: $c;
            align-items: $c;

            .phoneAndSocials {

                margin : 3% 0%;
                text-align: $c;

                h4 {

                    font-size: 1.4em;
                    padding : 8% 0%;

                }

                p {
                    padding-top: 2%;
                    font-size: 1.2em;
                }

                a {

                    color : darken(#f6b4bc, 18%);
                    font-size: 1.2em;
                    text-decoration: none;

                    &:first-of-type {

                        text-decoration: underline;

                    }

                    i {

                        font-size: 1.8em;

                    }

                    span {

                        font-size: 1.1em;

                    }

                    p {

                        padding-top: 3%;
                        font-size: 1.1em;

                    }

                }

            }


            .contactSeparator {

                font-weight: bold;
                font-size: 2em;
                padding : 3% 0%;

                @include d4 {

                    font-size: 1.6em;
                    padding : 6% 0%;

                }

            }


            .formContact {

                margin-top: 3%;
                text-align: $c;
                width : 70%;

                @include d2 {

                    width : 100%;

                }

                h3 {

                    font-size: 1.7em;

                }


                .formHolder {

                    display: $f;
                    flex-direction: $co;
                    justify-content: $c;
                    align-items: $c;
                    margin : 3% auto;

                    @include d5 {

                        margin : 10% auto;

                    }

                    button {

                        border : none;
                        outline: none;
                        margin-top : 4%;
                        cursor: pointer;
                        width : 30%;

                        @include d3 {

                            width : 50%;

                        }

                    }

                }

            }

        }


        // Footer

        footer {

            width : 100%;
            background-color: whitesmoke;

            .topPartFooter {

                width : 100%;
                display: $f;
                justify-content: $sa;
                align-items: $c;
                padding : 4% 0%;

                @include d3 {

                    flex-direction: $co;

                }

                .leftTopPartFooter {

                    width : 30%;
                    text-align: $c;

                    @include d3 {

                        display: none;
    
                    }
                    
                    a {

                        text-decoration: none;
                        @include logoFont();
                        font-size: 2em;
                        color : darken(#f6b4bc, 20%);


                    }

                }

                .middleTopPartFooter {

                    width : 30%;
                    display: $f;
                    flex-direction: $co;
                    justify-content: $c;
                    align-items: $c;

                    @include d3 {

                        order : 1;
    
                    }

                    p {

                        font-size: 1.5em;
                        padding-bottom: 5%;

                    }

                    ul {

                        list-style-type: none;
                        text-align: $c;

                        li {

                            margin : 7px 0px;

                            a {

                                text-decoration: none;
                                font-size: 1.2em;
                                color : darken(#f6b4bc, 20%);
                                transition: .4s;

                                &:hover {

                                    color : darken(#f6b4bc, 10%);

                                }

                            }
                            
                        }

                    }

                }

                .rightTopPartFooter {

                    width : 30%;
                    text-align: $c;

                    @include d3 {

                        order : 2;
                        width : 100%;
                        margin-top: 5%;
    
                    }

                    p {

                        color : darken(#f6b4bc, 20%);
                        font-size: 1.2em;
                        padding : 3% 0%;

                        @include d2 {

                            padding : 5% 0;

                        }

                        @include d3 {

                            padding : 1% 0;

                        }

                    }

                    a {

                        color : darken(#f6b4bc, 20%);
                        display: $f;
                        align-items: $c;
                        justify-content: $c;
                        text-decoration: none;

                        @include d2 {

                            font-size: 1.2em;

                        }

                        i {

                            font-size: 1.4em;
                            padding-right: 2%;
                            
                        }

                    }

                }

            }

            .bottomPartFooter {

                text-align: $c;
                padding : 1.5% 0%;
                font-weight: bold;
                border-top : 2px solid darken(whitesmoke, 8%);

            }

        }


        // Gallery.html

        .headingGallery {

            padding : 4% 0%;

            @include d4 {

                padding : 7% 0%;

            }

        }

        .gallery {

            // display: grid;
            // grid-template-columns: repeat(8, 1fr);
            // grid-template-rows: repeat(8, 5vw);
            // grid-gap: 15px;
            // padding : 0% 1.5%;

            width : 100%;
            margin : 0 auto;
            display: $f;
            flex-direction: $co;
            justify-content: $c;
            align-items: $c;

            .galleryTopPart {

                width : 100%;
                display: $f;
                justify-content: $c;

                @include d3 {

                    flex-direction: $co;
                    align-items: $c;

                }

                .galleryTopPartLeft {

                    width : 40%;
                    display: $f;
                    justify-content: flex-start;
                    align-items: flex-end;
                    flex-direction: $co;
                    margin-right: .5%;

                    @include d3 {
                        width : 100%;
                        margin : 0px;
                        align-items: $c;
                    }

                    img {

                        &:first-child {
                            height: 70%;
                        }

                        &:last-child {
                            height: 30%;
                        }

                        @include d3 {
                            width : 80%;
                        }

                    }

                }

                .galleryTopPartRight {

                    display: $f;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: $co;
                    width : 40%;

                    @include d3 {
                        width : 100%;
                        align-items: $c;
                    }

                    img {

                        &:first-child {
                            height: 40%;
                        }

                        &:last-child {
                            height: 60%;
                        }

                        @include d3 {
                            width : 80%;
                        }

                    }

                }

                img {

                    width : 95%;
                    margin : .5% 0;

                }

            }

            .galleryBottomPart {

                display: $f;
                justify-content: $c;
                width : 76.5%;
                margin-top: .3%;

                @include d3 {
                    margin-top: .5%;
                    width : 80%;
                }

                img {
                    width : 100%;
                }

            }

            // @include d4 {

            //     margin : 2% 0%;

            // }

            // &__img {

            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;

            // }

            // &__item--1 {

            //     grid-column-start: 1;
            //     grid-column-end: 3;
            //     grid-row-start: 1;
            //     grid-row-end: 3;

            //     @include d4 {

            //         grid-column-start: 1;
            //         grid-column-end: 4;

            //     }

            // }

            // &__item--2 {

            //     grid-column-start: 3;
            //     grid-column-end: 5;
            //     grid-row-start: 1;
            //     grid-row-end: 3;

            //     @include d4 {

            //         grid-column-start: 4;
            //         grid-column-end: 9;

            //     }

            // }

            // &__item--3 {

            //     grid-column-start: 5;
            //     grid-column-end: 9;
            //     grid-row-start: 1;
            //     grid-row-end: 6;

            //     @include d4 {

            //         grid-row-start: 3;
            //         grid-row-end: 5;

            //     }

            // }

            // &__item--4 {

            //     grid-column-start: 1;
            //     grid-column-end: 5;
            //     grid-row-start: 3;
            //     grid-row-end: 6;

            // }

            // &__item--5 {

            //     grid-column-start: 1;
            //     grid-column-end: 5;
            //     grid-row-start: 6;
            //     grid-row-end: 9;

            // }

            // &__item--6 {

            //     grid-column-start: 5;
            //     grid-column-end: 9;
            //     grid-row-start: 6;
            //     grid-row-end: 9;

            //     @include d4 {

            //         grid-row-start: 5;
            //         grid-row-end: 9;

            //     }

            // }

        }


        // Prices.html

        .headingPrices {

            padding: 4% 0%;

        }

        .pricesSection {

            width : 90%;
            margin : 0px auto;
            display: $f;
            justify-content: $sb;
            align-items: $c;

            @include d2 {

                flex-direction: $co;

            }

            .priceBoxes {

                width : 45%;

                @include d2 {

                    width : 100%;
    
                }

                .priceBox {

                    border-bottom: 3px solid #ffb5c1;
                    border-radius: 2px;
                    display: $f;
                    justify-content: $sb;
                    align-items: $c;
                    margin : 5% 0%;
                    padding-bottom: 1.5%;

                    h3 {

                        font-size: 1.4em;

                        @include d2 {

                            width : 60%;

                        }

                    }

                    p {

                        font-size: 1.2em;

                        @include d2 {

                            width : 20%;

                        }

                    }

                }

            }

        }

        .priceBoxSpecial {

            width: 90%;
            border-bottom: 3px solid #ffb5c1;
            border-radius: 2px;
            display: $f;
            justify-content: $sb;
            align-items: $c;
            margin : 2% auto 5% auto;
            padding-bottom: 1.5%;

            h3 {

                font-size: 1.4em;

                @include d2 {

                    width : 70%;

                }

            }

            p {

                font-size: 1.2em;

                @include d2 {

                    width : 20%;

                }

            }

        }


        // About.html

        .aboutRejuveSection {

            width : 80%;
            display: $f;
            justify-content: $c;
            align-items: $c;
            flex-direction: $co;
            margin : -90px auto 0% auto;

            @include d4 {

                margin : -60px auto 0% auto;

            }

            img {

                width : 60%;
                margin-bottom: 7%;

                @include d4 {

                    margin-bottom: 15%;
                    width : 80%;

                }

                @include d6 {

                    width : 100%;

                }

            }

            #aboutText {

                font-size: 1.4em;
                text-align: $c;
                line-height: 33px;
                position: relative;

                p {

                    padding: .3% 0%;
                    font-size: 1.2em;
                    line-height: 40px;

                    @include d4 {

                        font-size: 1em;
                    
                    }

                }

                a {
                    color: #ffb5c1;
                }

                &::before {

                    position: absolute;
                    content : '';
                    height: 100%;
                    width : 4px;
                    background-color: #ffb5c1;
                    left : -3%;
                    
                }

            }

        }


        .aboutOwnerRejuvena {

            width : 90%;
            margin : 10% auto;
            display: $f;
            justify-content: $sa;
            align-items: $c;

            @include d3 {

                flex-direction: $co;

            }

            @include d6 {

                margin: 15% auto;

            }

            .leftSideOwnerBlock {

                width : 50%;

                @include d3 {

                    width : 90%;

                }

                h2 {

                    text-align: left;
                    padding-bottom: 8%;
                    padding-top: 0%;

                    @include d3 {

                        text-align: $c;

                    }

                }

                p {

                    font-size: 1.2em;
                    letter-spacing: 1.2px;
                    line-height: 33px;

                }                

            }

            .rightSideOwnerBlock {

                width : 40%;
                display: $f;
                justify-content: $c;
                align-items: $c;

                @include d3 {

                    width : 70%;
                    margin-top: 8%;

                }

                @include d6 {

                    width : 90%;

                }

                img {

                    display: block;
                    width : 80%;

                }

            }

        }


        // Offers.html

        .offersCover {

            width : 100%;
            height: 60vh;
            // background-image : url('../images/uslugeCover.jpg');
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: $c;
            // background-attachment: fixed;
            background-color: #ffb5c1;
            display: $f;
            justify-content: $c;
            align-items: $c;

            @include d5 {

                height : 40vh;

            }

            h1 {

                padding-top: 10%;
                color : whitesmoke;
                font-size: 3em;
                text-align: center;

                @include d5 {

                    font-size: 2.4em;
    
                }

            }

        }


        .offersList {

            width : 100%;
            display: $f;
            justify-content: $c;
            flex-direction: $co;
            align-items: $c;
            padding : 5% 0%;

            h2 {

                text-align: $c;

            }

            .basicTreatmentsHolder {

                width : 50%;
                margin: 5% 0%;

                @include d3 {

                    width : 70%;

                }

                @include d4 {

                    margin : 10% 0%;

                }

                img {

                    max-width: 100%;

                }

            }

            .printOffers {

                width : 80%;
                margin-top: 3%;

                .offerBox {

                    display: $f;
                    padding : 2% 0%;
                    border-bottom: 1px solid #141414;
                    cursor: pointer;

                    @include d3 {

                        padding : 4% 0%;

                    }

                    span {

                        padding-right: 10px;

                    }

                    h3 {

                        font-weight: lighter;
                        letter-spacing: 1.2px;

                    }

                }

                & > .offerBox:nth-of-type(1) {

                    border-top : 1px solid #141414;

                }

                .offerDesc {

                    font-size: 1.3em;
                    padding : 3%;
                    display: none;
                    letter-spacing: 1.1px;
                    line-height: 1.4em;

                    @include d4 {

                        padding : 5% 3%;

                    }

                    ul {

                        padding-left: 5%;

                    }

                    .priceOfferBox {

                        color : darken(#ee9ca7, 10%);

                    }

                    .moreAboutOffer {

                        color : darken(#ee9ca7, 3%);

                    }

                    .offerParHeading {

                        color : #ee9ca7;

                    }

                }

            }

        }

        // Rejuvena Loyalty Club

        .loyaltyOffers {

            display: none;

            .priceBoxes {

                width: 100%;

                .priceBox {

                    width: 100%;
    
                }

            }

        }

        .loyaltyClubInput {

            width : 90%;
            display: $f;
            flex-direction: $co;
            align-items: $c;
            justify-content: $c;


            button {

                @include d6 {
                    margin : 3% 0%;
                }

            }

            p {

                padding-top: 2%;
                font-size: 1.5em;
                text-align: $c;
                display: none;

            }

        }

    }

    .overflowBody {

        overflow-y: visible;

    }

    .navChange {

        background-color: whitesmoke;
        padding : 2% 0% !important;

    }

    .navLinkAnimationSecond {

        color : #f6b4bc !important;

        &::before {
            content: attr(data-item);
            transition: 0.5s;
            color: darken(#f6b4bc, 8%);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
          }
  
          &:hover {
            &::before {
              width: 100%;
              transition: all 0.5s ease-in-out;
            }
          }

    }

    .navLinkAnimationFirst {

        &:hover {

            color: darken(#f6b4bc, 10%) !important;

        }

    }

}


// Globalne klase

.contactField {

    width : 80%;
    margin: 2% 0%;
    border : none;
    border-bottom: 2px solid #ffb5c1;
    outline: none;
    padding : 1%;
    font-size: 1.2em;
    resize: none;
    border-radius: 5px;
    transition: .4s;

    @include d2 {

        margin: 3% 0%;

    }
    @include d5 {

        margin: 5% 0%;
        width : 90%;

    }

    &:focus {

        border-color : darken(#f6b4bc, 10%);

    }


    &::placeholder {

        @include regularFont();

    }

}

.leftSideNavIndex {

    transform: translateX(0%) !important;

}

.afterHeadingRejuvena {

    font-weight: 300;
    letter-spacing: 2px;
    line-height: 43px;
    text-align: $c;
    font-size: 1.5em;

    @include d4 {

        font-size: 1.3em;
        line-height: 30px;

    }

    @include d5 {

        line-height: 35px;

    }

    @include d6 {

        font-size: 1.2em;

    }


    .afterSpanRejuvena {

        font-weight: bold;
        font-size: 1.4em;
        position: relative;

        @include d5 {

            font-size: 1.1em;
    
        }

        @include d6 {

            font-size: 1em;
    
        }

        &::before {

            position : absolute;
            content : '';
            width : 30%;
            height: 2px;
            background-color:#f6b4bc;
            bottom : -30%;
            left : 35%;

            @include d5 {

                bottom : -50%;

            }

        }

    }

}

.rejuvenaButton {

    text-decoration: none;
    color : whitesmoke;
    background-color: darken(#f6b4bc, 6%);
    border: none;
    padding : 1.4% 6%;
    font-weight: bold;
    //border-radius: 12px;
    transition: .4s;
    font-size: 1.1em;
    cursor: pointer;

    @include d2 {

        padding : 2.5% 6%;

    }

    @include d5 {

        padding : 4% 9%;

    }

    &:hover {

        background-color:#f6b4bc;

    }

}


// Loader

.spinner-container {
    position: fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    z-index: 1100;
    background-color: darken(#f6b4bc, 4%);
    display: $f;
    justify-content: $c;
    align-items: $c;
    transition: .7s;
    opacity: 1;
  }

  .main-wand {

    position: absolute;

  }
  
  .spinner {

      border: 8px solid #f3f3f3; /* Light grey */
      border-top: 8px solid darken(#f18693, 2%); /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      position: absolute;

  }
  
  .stars1 {
          fill: #f3fa6b;
          animation: flicker 1s linear infinite;
        }
  
  .stars2 {
          fill: #f3fa6b;
          animation: flicker 2s linear infinite;
        }
  
  .stars3 {
          fill: #f3fa6b;
          animation: flicker 3s linear infinite;
        }
  
  .stars4 {
          fill: #f3fa6b;
          animation: flicker 4s linear infinite;
        }
  
  .wandfill {
          fill: darken(#f18693, 2%);
        }
  
  .wand {
          fill: darken(#f18693, 2%);
        }    


// Scrollbar

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darken(#f6b4bc, 12%);
    border-radius: 5px;

    &:hover {

        background: darken(#f6b4bc, 18%);

    }

  }


  // Selection

  ::selection {

    background-color: darken(#f6b4bc, 10%);
    color : whitesmoke;

}




  // Animacije
  
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  
  @keyframes flicker {

      0%, 30%, 22%, 62, 64%, 64.999%, 70%, 100% { opacity: 0.99; }
      20%, 22%, 63%, 63.999%, 65%, 69.999% { opacity: 0.50; }

  }

